Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Main__product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Main__product-preview {
  max-width: 23rem;
  width: 100%;
  border-radius: 1rem;
}

.Main__product-thumbnail-wrapper {
  display: flex;
  gap: 1rem;
}

.Main__product-thumbnail {
  width: 5rem;
  border-radius: 0.5rem;
}

.Main__product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main__brand {
  color: #e08848;
}
