.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
}

.Main__product-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Main__images-component {
  margin: 0 1rem;
}

.Main__carousel {
  display: flex;
  align-items: center;
}

.Main__close {
  cursor: pointer;
  position: relative;
  bottom: 17rem;
  left: 31rem;
  filter: brightness(0) saturate(100%) invert(99%) sepia(2%) saturate(113%)
    hue-rotate(27deg) brightness(120%) contrast(100%);
}

.Main__close:hover {
  filter: brightness(0) saturate(100%) invert(60%) sepia(15%) saturate(5520%)
    hue-rotate(344deg) brightness(98%) contrast(106%);
}

.Main__carousel-btn {
  position: relative;
  min-height: 2rem;
  min-width: 2rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  display: none;
}

.--Main__carousel-btn-back {
  left: 1rem;
}

.--Main__carousel-btn-back-forward {
  right: 1rem;
}

.Main__product-preview {
  max-width: 23rem;
  width: 100%;
  border-radius: 1rem;
  cursor: pointer;
}

.Main__product-thumbnail-wrapper {
  display: flex;
  gap: 1rem;
}

.Main__product-thumbnail {
  width: 5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.Main__product-thumbnail:hover {
  border: 2px solid #ff7d1b;
  opacity: 50%;
}

.Main__product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.Main__brand {
  color: #ff7d1b;
  text-transform: uppercase;
  font-weight: 700;
}

.Main__product-name {
  font-weight: 700;
  font-size: 2rem;
}

.Main__product-description {
  color: #717173;
  max-width: 40ch;
}

.Main__price-w-discount {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Main__price {
  font-weight: 700;
  font-size: 1.5rem;
}

.Main__discount {
  font-weight: 700;
  background: #fff0e3;
  color: #ff7d1b;
  padding: 0.25rem;
  border-radius: 0.2rem;
}

.Main__original-price {
  font-weight: 700;
  color: #717173;
  text-decoration: line-through;
}

.Main__counter-w-add-to-cart {
  display: flex;
  gap: 1rem;
}

.Main__counter {
  display: flex;
  align-items: center;
}

.Main__counter-button {
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #f7f8fd;
  cursor: pointer;
}

.Main__counter-button:hover {
  opacity: 50%;
}

.--Main__counter-button-minus {
  border-radius: 0.5rem 0 0 0.5rem;
}

.--Main__counter-button-plus {
  border-radius: 0 0.5rem 0.5rem 0;
}

.Main__counter-indicator {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7f8fd;
  font-weight: 700;
}

.Main__cart-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%)
    hue-rotate(317deg) brightness(104%) contrast(101%);
}

.Main__add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  font-weight: 700;
  background: #ff7d1b;
  width: 15rem;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0 1rem 5rem #ffb97b;
}

.Main__add-to-cart:hover {
  opacity: 50%;
}

.--Main__product-images-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000b5;
  visibility: hidden;
  z-index: 2;
}

.--Main__product-preview-overlay {
  max-width: 30rem;
}

.--Main__carousel-btn-overlay {
  display: flex;
}

.highlighted-thumbnail {
  border: 2px solid #ff7d1b;
  opacity: 50%;
}

@media only screen and (max-width: 835px) {
  .Main {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .--Main__product-images-overlay {
    display: none;
  }
}

@media only screen and (max-width: 435px) {
  .Main {
    padding: 0 0 1rem 0;
  }

  .Main__images-component {
    margin: 0;
  }
  .Main__product-thumbnail-wrapper {
    display: none;
  }

  .Main__product-preview {
    max-width: 100%;
    border-radius: unset;
  }

  .Main__product-info {
    padding: 0 1rem;
  }

  .Main__product-description {
    max-width: unset;
  }

  .Main__counter-w-add-to-cart {
    flex-direction: column;
    align-items: center;
  }

  .Main__counter-indicator {
    width: 12rem;
  }

  .Main__add-to-cart {
    width: 17rem;
    padding: 0.5rem 0;
  }

  .Main__carousel-btn {
    display: block;
    position: absolute;
  }

  .Main__carousel-previous {
    position: relative;
    left: 0.5rem;
  }

  .Main__carousel-next {
    position: relative;
    left: 0.6rem;
  }
}
